*{outline:1px solid rgba(255,0,0,0.4);}
/*header 1*/

.body{
	font-family:"open sans", sans-serif;
	font-size:;
}


.capa{
background-color: rgba(9, 22, 37, 0.5);
height: 800px;
}
.home{
	background-image: url(../img/background/hero.jpg);
	background: cover;
	height: 800px;
	}
.list-menu{ 
	list-style: none;
	padding-top: 25px;
	font-family: arial;
	font-size: 18px;
}
.list-menu li{
	padding-right: 0px;
	padding-left: 0px;
	text-align: center;
}
.list-menu a{
	padding: 20px 0px 0px 50px;
	color: white;
	text-decoration: none;
}
.lista-home i{
	color: #0DC0C0;
	font-size: 40px;
}
.btn-1{
	background:#424242;
	color: white;
}
.btn-2{
	background-color: rgba(0, 0, 0, 0.1);
	color: white;
}
/*comienza features*/
.fondo-features{
	background-image: url(../img/laptop-features.png);
	background:cover;
	height: 500px; 
}


/*comienza portfolio*/
.list-img img{
	border-top: 12px solid white;
	border-right: 12px solid white;
	border-left: 12px solid white;
}
.list-img{
	background-color: white;
}

/*comienza pricing*/
.oscuro{
	background-color: rgba(9, 22, 37, 0.5);
	height:400px;
}
.img-pricing{
	height: 400px; 
	background-image: url('../img/background/city.jpg');
	background-size: cover;
	background-position: center;
}
.btn-3{
	background-color: rgba(0, 0, 0, 0.1);
	color: white;
}

.pricing-boxes{
	width:90%;
	display: inline-block;
	vertical-align: top;
	overflow: hidden;
	background-color: white;	
}
.customer-icon{
	border-radius: 100%;
	margin: 50px 100px 20px 300px;
	width:100px;
	height: 100px;
}
.img-contactus{ 
	background-image: url('../img/background/contactus.jpg');
	background-size: cover;	
}
.brd-input{
	border: 1px solid #A4A4A4;
}

.oscuro2{
	background-color: rgba(9,22,37,0.5);	
}
.follow-icons i{
	font-size: 40px;
	padding: 5px;
}
.footer{
	height: 100px;
}
.input1{
	background-color: rgba(208,160,164,0.3);
	border: none;
}
.brd-none{
	border: none;
}